nav.header
  div.header__wrapper
    ul.header__list.clearfix
      li.header__item
        a.header__link.scrollto(href="#home") Home
      li.header__item
        a.header__link.scrollto(href="#about") About me
      li.header__item
        a.header__link.scrollto(href="#portfolio") Portfolio
      li.header__item
        a.header__link.scrollto(href="#contact") Contact
