nav.header
  div.header__wrapper
    ul.header__list.clearfix
      li.header__item
        a.header__link(href="#") Home
      li.header__item
        a.header__link(href="#") About me
      li.header__item
        a.header__link(href="#") Portfolio
      li.header__item
        a.header__link(href="#") Contact
