div.logo__img-wrapper
  img.logo__img(src="img/Logo.png" alt="Logotype")
  svg.logo__tm(width="53px" height="28px")
    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/symbols.svg#tm")
h1.logo__title
  strong JWOOD
  | PHOTOGRAPHY
