* {
  box-sizing: border-box;
}

body {
  font-family: $font-1;
  font-size: 13px;
  color: $color-black;
  background: $color-white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: $font-1;
  text-decoration: none;
  text-transform: uppercase;
}

h1, h2, h3 {
  margin: 0;
  text-transform: uppercase;
}

p {
  margin: 0;
}
