.container {
  max-width: $desktop-width;
  min-width: $desktop-min-width;
  margin: 0 auto;
  font-size: $main-font-size;
}

.container__item {
  height: 100vh;
  padding-top: 83px;
}

.container__item--main {
  background: url("../img/Background.jpg") 0 0 no-repeat;
  background-size: cover;
}

.container__item--white {
  background-color: $color-white;
}

.container__item--portfolio {
    background: url("../img/Background-2.jpg") 0 0 no-repeat;
    background-size: cover;
}
