.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

.logo__img-wrapper {
  position: relative;
  width: 17em;
  height: 17em;
}

.logo__img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.logo__tm {
  position: absolute;
  top: 0;
  right: 10px;
  width: 2em;
  height: 1em;
  fill: $color-white-2;
}

.logo__title {
  display: block;
  padding-top: 55px;
  text-align: center;
  color: $color-white-2;
  font-size: 2em;
}
