.portfolio {
  padding-right: 8%;
  padding-left: 8%;
}

.portfolio__title {
  padding: 1em 0;

  @include title($color-white-2);
}

.portfolio__list-wrapper, .portfolio__list {
  width: 100%;
}

.portfolio__list-wrapper {
  height: 60%;
}

.portfolio__list {
  height: 100%;
}

.portfolio__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 17%;
  height: 40%;
  margin-bottom: 1.5em;
  overflow: hidden;
}

.portfolio__item:hover {
  transform: scale(1.1);
}

.portfolio__item:not(:nth-child(5n)) {
  margin-right: 3%;
}

.portfolio__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
