.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5em;
}

.scroll__link {
  display: block;
  width: 22px;
  height: 21px;
}

.scroll__text {
  display: block;
  padding-bottom: 1em;
  font-size: 0.7em;
  font-weight: bold;
  color: $color-white-2;
  text-transform: uppercase;
}

.scroll__icon {
  fill: $color-white-2;
}

.container__item--white .scroll__text {
  color: $color-gray;
}
.container__item--white .scroll__icon polygon {
  fill: $color-gray;
}
